{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Rango{% endblock %}

{% block body_block %}
  <center>
    <h1>Rango says...</h1>
  </br>
    Here is the about page that has made
  </br>
    <b>by</b>
  </br>
    {{ name }}
  </br>
    {{student_num}}
  </br>
    my normal profile pic
    <img src="{% static "images/Dillnot.jpg" %}" alt="profile pic" />
  </br>
    and a pic of me
    <img src="{% static "images/me.jpg" %}" alt="pic of dylan stevenson" />
  </center>
{% endblock %}
